deploy/tim_traveladvisory_icebergread-version-4.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"47a22eb4-fe90-46db-bf98-73e04a9254ad","version":0,"timestamp":1683312174485,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"72d8870c-935f-33dc-965a-8529173db6fe","instanceIdentifier":"7002eb7b-0182-1000-0000-00004716d74e","name":"tim_traveladvisory","comments":"","position":{"x":703.0,"y":632.0},"processGroups":[{"identifier":"9798880a-08e5-4397-9a54-e0a13fc532bd","instanceIdentifier":null,"name":"Send Messages to Slack","comments":null,"position":{"x":1135.328765562788,"y":1685.3136340071303},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"849f53c8-81ad-448b-a0c7-1af1c3200d4f","instanceIdentifier":null,"name":"PutSlack For Travel Advisories","comments":"","position":{"x":729.0,"y":454.5},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"icon-emoji":null,"webhook-url":"#{Webhook URL}","webhook-text":"#{WebhookText}","channel":"#dataflowappspushingtoslack","icon-url":null,"username":"nifichat"},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9798880a-08e5-4397-9a54-e0a13fc532bd"}],"inputPorts":[{"identifier":"59466afc-fc3d-499f-a8fa-b5d15cab0136","instanceIdentifier":null,"name":"Data to send to Slack","comments":null,"position":{"x":752.0,"y":239.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"INPUT_PORT","groupIdentifier":"9798880a-08e5-4397-9a54-e0a13fc532bd"}],"outputPorts":[{"identifier":"544c6e27-c0e5-48f9-be1f-718680ba2620","instanceIdentifier":null,"name":"Errors Out","comments":null,"position":{"x":760.0,"y":776.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"9798880a-08e5-4397-9a54-e0a13fc532bd"}],"connections":[{"identifier":"ad7e48ea-afdf-44c5-bcd8-7f8b8b199a01","instanceIdentifier":null,"name":"successMessagesSent","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"849f53c8-81ad-448b-a0c7-1af1c3200d4f","type":"PROCESSOR","groupId":"9798880a-08e5-4397-9a54-e0a13fc532bd","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"abb742c0-a9b6-47d1-abd1-66146a2a82a9","type":"FUNNEL","groupId":"9798880a-08e5-4397-9a54-e0a13fc532bd","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9798880a-08e5-4397-9a54-e0a13fc532bd"},{"identifier":"a670ad92-c334-4766-9a07-30ce40d8d3e0","instanceIdentifier":null,"name":"putSlackFailure","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"849f53c8-81ad-448b-a0c7-1af1c3200d4f","type":"PROCESSOR","groupId":"9798880a-08e5-4397-9a54-e0a13fc532bd","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"544c6e27-c0e5-48f9-be1f-718680ba2620","type":"OUTPUT_PORT","groupId":"9798880a-08e5-4397-9a54-e0a13fc532bd","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9798880a-08e5-4397-9a54-e0a13fc532bd"},{"identifier":"379821c1-06df-4098-9563-9be9f0c78002","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"59466afc-fc3d-499f-a8fa-b5d15cab0136","type":"INPUT_PORT","groupId":"9798880a-08e5-4397-9a54-e0a13fc532bd","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"849f53c8-81ad-448b-a0c7-1af1c3200d4f","type":"PROCESSOR","groupId":"9798880a-08e5-4397-9a54-e0a13fc532bd","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9798880a-08e5-4397-9a54-e0a13fc532bd"}],"labels":[],"funnels":[{"identifier":"abb742c0-a9b6-47d1-abd1-66146a2a82a9","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1528.0,"y":521.0},"componentType":"FUNNEL","groupIdentifier":"9798880a-08e5-4397-9a54-e0a13fc532bd"}],"controllerServices":[],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"tim_traveladvisory","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"}],"remoteProcessGroups":[],"processors":[{"identifier":"9c2e5904-6d06-4074-9207-790a2655c517","instanceIdentifier":null,"name":"WriteToKafka","comments":"","position":{"x":556.5428314607525,"y":1720.9219832599183},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.8.1-1"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"bb796789-ddb6-49a7-91b8-b479ba0df3d3","bootstrap.servers":"#{Kafka Brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"21eb05df-ead2-37c3-a32e-0cb7292161c4","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"#{Kafka Producer ID}","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload Username}","use-transactions":"false","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"ea237c03-5993-4e5e-9b4a-cc4a9caeb705","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Destination Topic Name}","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"4882c074-8871-3bb7-b5dd-f3bdaf00b40d","instanceIdentifier":"d46995bb-24e3-38a4-895e-e16ba148589c","name":"GetTravel Advisories","comments":"","position":{"x":544.1817626953125,"y":-576.1418790817261},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{HTTP URL}","Content-Type":"${mime.type}","form-body-form-name":null,"flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"oauth2-access-token-provider":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null,"Content-Encoding":"DISABLED"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"900 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"10871f57-a0aa-4092-a673-9211c34e89f2","instanceIdentifier":null,"name":"SplitJson","comments":"","position":{"x":565.7468470856845,"y":1043.4643003446968},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.category"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"d01485b3-3b78-4a59-9451-a4176aacf67e","instanceIdentifier":null,"name":"UpdateRecord","comments":"","position":{"x":564.7589382266161,"y":1346.2515472091382},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"record-writer":"c3f4149b-1061-40ad-b6c3-bc12e9d77052","record-reader":"21eb05df-ead2-37c3-a32e-0cb7292161c4","replacement-value-strategy":"literal-value","/advisoryId":"${filename}","/description":"${description}","/domain":"${identifier:trim()}","/guid":"${guid}","/link":"${link}","/pubdata":"${pubdate}","/title":"${title}","/ts":"${now():toNumber()}","/uuid":"${uuid}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"f4e8773d-4634-46ba-9c29-0c87417af576","instanceIdentifier":null,"name":"Convert RSS XML To JSON","comments":"","position":{"x":547.7589588628279,"y":-222.26236142573055},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"c3f4149b-1061-40ad-b6c3-bc12e9d77052","record-reader":"fcddbfee-6f53-464a-89d8-fc09412df984","include-zero-record-flowfiles":"false","dbf-default-scale":"0","all":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"2b91dd10-32f6-4be2-9f22-ed1566d33666","instanceIdentifier":null,"name":"Rebuild Format","comments":"","position":{"x":563.6927090054031,"y":718.8269141969292},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","description":"$.description","guid":"$.guid","identifier":"$.identifier","link":"$.link","pubdate":"$.pubDate","title":"$.title"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"31b25d52-de01-4d18-bde5-2999c35a6b8c","instanceIdentifier":null,"name":"ExecuteSQLRecord impala","comments":"","position":{"x":-1036.3564137305589,"y":1454.0518109109814},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"c3f4149b-1061-40ad-b6c3-bc12e9d77052","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"db03b23a-caed-46c5-add9-13e63ed19592","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"true","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM  `default`.tim_syslog_critical_archive","esqlrecord-normalize":"true"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"f74286e4-7abe-4bdf-8cb2-e25124b96066","instanceIdentifier":null,"name":"SplitRecord","comments":"","position":{"x":559.6568759534753,"y":409.1505354719166},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"Record Writer":"c3f4149b-1061-40ad-b6c3-bc12e9d77052","Record Reader":"21eb05df-ead2-37c3-a32e-0cb7292161c4","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"71272de7-8443-42d4-b9f4-d63d3367ae0f","instanceIdentifier":null,"name":"PublishPulsarRecord Tim","comments":"","position":{"x":-16.217896809045044,"y":1719.8688708268628},"type":"org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"properties":{"MAX_ASYNC_REQUESTS":"50","BATCH_INTERVAL":"10 ms","COMPRESSION_TYPE":"NONE","PULSAR_CLIENT_SERVICE":"1d754ac7-20dc-432f-9f6f-3840b7810b92","MESSAGE_ROUTING_MODE":"RoundRobinPartition","RECORD_WRITER":"c3f4149b-1061-40ad-b6c3-bc12e9d77052","BLOCK_IF_QUEUE_FULL":"false","BATCHING_MAX_MESSAGES":"1000","MAPPED_MESSAGE_PROPERTIES":"","PENDING_MAX_MESSAGES":"1000","TOPIC":"#{Pulsar Topic Name}","MESSAGE_DEMARCATOR":"\n","ASYNC_ENABLED":"false","RECORD_READER":"21eb05df-ead2-37c3-a32e-0cb7292161c4","MESSAGE_KEY":"${uuid}","BATCHING_ENABLED":"false"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"BATCH_INTERVAL":{"name":"BATCH_INTERVAL","displayName":"Batch Interval","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"COMPRESSION_TYPE":{"name":"COMPRESSION_TYPE","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"MESSAGE_ROUTING_MODE":{"name":"MESSAGE_ROUTING_MODE","displayName":"Message Routing Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"RECORD_WRITER":{"name":"RECORD_WRITER","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"BLOCK_IF_QUEUE_FULL":{"name":"BLOCK_IF_QUEUE_FULL","displayName":"Block if Message Queue Full","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"BATCHING_MAX_MESSAGES":{"name":"BATCHING_MAX_MESSAGES","displayName":"Batching Max Messages","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"MAPPED_MESSAGE_PROPERTIES":{"name":"MAPPED_MESSAGE_PROPERTIES","displayName":"Mapped Message Properties","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"PENDING_MAX_MESSAGES":{"name":"PENDING_MAX_MESSAGES","displayName":"Max Pending Messages","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"TOPIC":{"name":"TOPIC","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"RECORD_READER":{"name":"RECORD_READER","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"MESSAGE_KEY":{"name":"MESSAGE_KEY","displayName":"Message Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"BATCHING_ENABLED":{"name":"BATCHING_ENABLED","displayName":"Batching Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"8140ad26-dff7-402b-b78c-fc3b32a09fcd","instanceIdentifier":null,"name":"SplitJson","comments":"","position":{"x":561.7627649014775,"y":98.25030335886356},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*.*.item"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"a465ab23-f808-4ee2-a5a0-c15a83c90f9a","instanceIdentifier":null,"name":"QueryRecord","comments":"","position":{"x":-1036.3564086575007,"y":1860.3035319896312},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":null,"record-reader":null,"include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"}],"inputPorts":[],"outputPorts":[{"identifier":"61784909-3c0f-4676-8b0d-14c5cade451e","instanceIdentifier":null,"name":"Errors","comments":null,"position":{"x":1674.3638816570003,"y":75.58025324624577},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":null,"componentType":"OUTPUT_PORT","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"}],"connections":[{"identifier":"9b2e3ee0-1406-4757-846f-94a0f4e471db","instanceIdentifier":null,"name":"queryRecordFailure","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f4e8773d-4634-46ba-9c29-0c87417af576","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"5a011ab8-b9ae-4f83-94b9-551ff48e132e","type":"FUNNEL","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"7414877e-a231-4bab-ab7f-3dd6b40ab8e2","instanceIdentifier":null,"name":"queryRecordtoSplitJsonAllSuccess","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f4e8773d-4634-46ba-9c29-0c87417af576","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"8140ad26-dff7-402b-b78c-fc3b32a09fcd","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"1348d7c2-1b92-45c3-821e-a06fb67b0888","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"71272de7-8443-42d4-b9f4-d63d3367ae0f","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"09abc969-b735-4c2d-aa28-3e02f83c365e","type":"FUNNEL","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"fe0bcfb4-bf45-49c0-b998-75cc8802cca6","instanceIdentifier":null,"name":"splitRecordFailure","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f74286e4-7abe-4bdf-8cb2-e25124b96066","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"5a011ab8-b9ae-4f83-94b9-551ff48e132e","type":"FUNNEL","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"76d3c613-d32a-44f6-83ef-e4ef1636c31f","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"31b25d52-de01-4d18-bde5-2999c35a6b8c","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e1def638-638d-43f4-9547-73508d2c2b86","type":"FUNNEL","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"c05262de-2a1d-4027-923f-4ed8ae7c3d45","instanceIdentifier":null,"name":"splitJsontoSplitRecordSuccess","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"8140ad26-dff7-402b-b78c-fc3b32a09fcd","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f74286e4-7abe-4bdf-8cb2-e25124b96066","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"e3e9eaed-b2bf-49c1-b909-4609d9989849","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d01485b3-3b78-4a59-9451-a4176aacf67e","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"71272de7-8443-42d4-b9f4-d63d3367ae0f","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"6ae56c73-616c-4b32-bbc4-9893dd3a4dd5","instanceIdentifier":null,"name":"splitRecordToEvaluateJsonPathSuccess","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f74286e4-7abe-4bdf-8cb2-e25124b96066","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"2b91dd10-32f6-4be2-9f22-ed1566d33666","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"68ce3f3f-014b-4db6-8757-2f04d9576108","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"5a011ab8-b9ae-4f83-94b9-551ff48e132e","type":"FUNNEL","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"61784909-3c0f-4676-8b0d-14c5cade451e","type":"OUTPUT_PORT","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":[],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"dba4ba30-f586-411b-875e-cf390eb1facd","instanceIdentifier":null,"name":"WriteToKafkaToFailure","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9c2e5904-6d06-4074-9207-790a2655c517","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"09abc969-b735-4c2d-aa28-3e02f83c365e","type":"FUNNEL","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"123fd7f2-6abb-4ab5-b1f7-190cfadba0bd","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"31b25d52-de01-4d18-bde5-2999c35a6b8c","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"a465ab23-f808-4ee2-a5a0-c15a83c90f9a","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"84ebcd60-0c3d-3edf-8bc5-e1d71379854a","instanceIdentifier":"a08de2b4-f909-3883-8917-eff5a378d4f1","name":"invokeHttpGetTravelAdvisoriesResponse","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"4882c074-8871-3bb7-b5dd-f3bdaf00b40d","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":"Get Recent Wikipedia Changes","comments":"","instanceIdentifier":"d46995bb-24e3-38a4-895e-e16ba148589c"},"destination":{"id":"f4e8773d-4634-46ba-9c29-0c87417af576","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"4dac4e72-a512-460b-934b-84cf2758d482","instanceIdentifier":null,"name":"updateRecordToSlackGroup","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d01485b3-3b78-4a59-9451-a4176aacf67e","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"59466afc-fc3d-499f-a8fa-b5d15cab0136","type":"INPUT_PORT","groupId":"9798880a-08e5-4397-9a54-e0a13fc532bd","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"dfb76859-37bd-4f19-8c13-5d09f9c72025","instanceIdentifier":null,"name":"evaluateJsonPathTosplitJsonrebuildformatsuccess","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"2b91dd10-32f6-4be2-9f22-ed1566d33666","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"10871f57-a0aa-4092-a673-9211c34e89f2","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"b7bf30ef-10a7-45b0-a1a5-a0339be18654","instanceIdentifier":null,"name":"updateRecordSuccesstoWriteToKafa","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"d01485b3-3b78-4a59-9451-a4176aacf67e","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9c2e5904-6d06-4074-9207-790a2655c517","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"c28d5431-23a5-4072-af5a-66f2faf63995","instanceIdentifier":null,"name":"splitJsonToUpdateRecordSuccess","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"10871f57-a0aa-4092-a673-9211c34e89f2","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d01485b3-3b78-4a59-9451-a4176aacf67e","type":"PROCESSOR","groupId":"72d8870c-935f-33dc-965a-8529173db6fe","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"}],"labels":[{"identifier":"1ae89721-f1ca-4f21-bf88-0e49978cd455","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":940.8237752437758,"y":1435.2144217949087},"label":"https://github.com/tspannhw/FLaNK-TravelAdvisory","zIndex":null,"width":600.0,"height":80.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"}],"funnels":[{"identifier":"5a011ab8-b9ae-4f83-94b9-551ff48e132e","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1228.5762320471092,"y":76.99564910869333},"componentType":"FUNNEL","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"09abc969-b735-4c2d-aa28-3e02f83c365e","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":443.77286545508923,"y":2133.694562607079},"componentType":"FUNNEL","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"e1def638-638d-43f4-9547-73508d2c2b86","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-1391.6239670500659,"y":1852.865896320624},"componentType":"FUNNEL","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"}],"controllerServices":[{"identifier":"dc027130-b5e5-448f-9925-6e2e78a36c46","instanceIdentifier":null,"name":"CSPGenSchemaRegistry","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{Kerberos Password}","ssl-context-service":"ea237c03-5993-4e5e-9b4a-cc4a9caeb705","cache-size":"1000","basic-auth-password":null,"kerberos-principal":"tim","basic-auth-username":null,"url":"https://#{Schema2}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"b72fe2fe-f335-4b8d-a2b0-c2c7ef70cf11","instanceIdentifier":null,"name":"JsonTreeReaderschema","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"weather","starting-field-strategy":"ROOT_NODE","schema-registry":"dc027130-b5e5-448f-9925-6e2e78a36c46","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"fcddbfee-6f53-464a-89d8-fc09412df984","instanceIdentifier":null,"name":"RSSXMLReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"content_field_name":"category","schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":"at","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{Schema Text}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"73179b29-0c57-36dc-8979-73be24fda974","instanceIdentifier":"118db0da-3ee6-3b97-90d0-7554e41251f6","name":"AvroWriter_Recent_Changes","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"bb796789-ddb6-49a7-91b8-b479ba0df3d3","instanceIdentifier":null,"name":"AvroRecordSetWriterHWX","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"hwx-content-encoded-schema","schema-branch":null,"schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"cbcc31f2-a24e-49e1-9e50-b88aa20e45df","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"1d754ac7-20dc-432f-9f6f-3840b7810b92","instanceIdentifier":null,"name":"StandardPulsarClientServiceDemo","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.pulsar.StandardPulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"properties":{"KEEP_ALIVE_INTERVAL":"30 sec","CONCURRENT_LOOKUP_REQUESTS":"5000","USE_TCP_NO_DELAY":"false","STATS_INTERVAL":"60 sec","MAXIMUM_LOOKUP_REQUESTS":"50000","OPERATION_TIMEOUT":"30 sec","CONNECTIONS_PER_BROKER":"1","LISTENER_THREADS":"1","AUTHENTICATION_SERVICE":"","MAXIMUM_REJECTED_REQUESTS":"50","PULSAR_SERVICE_URL":"pulsar://98.xxx.49.213:6650","IO_THREADS":"1","ALLOW_TLS_INSECURE_CONNECTION":"false","ENABLE_TLS_HOSTNAME_VERIFICATION":"false"},"propertyDescriptors":{"KEEP_ALIVE_INTERVAL":{"name":"KEEP_ALIVE_INTERVAL","displayName":"Keep Alive interval","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CONCURRENT_LOOKUP_REQUESTS":{"name":"CONCURRENT_LOOKUP_REQUESTS","displayName":"Maximum concurrent lookup-requests","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"USE_TCP_NO_DELAY":{"name":"USE_TCP_NO_DELAY","displayName":"Use TCP no-delay flag","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"STATS_INTERVAL":{"name":"STATS_INTERVAL","displayName":"Stats interval","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"MAXIMUM_LOOKUP_REQUESTS":{"name":"MAXIMUM_LOOKUP_REQUESTS","displayName":"Maximum lookup requests","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"OPERATION_TIMEOUT":{"name":"OPERATION_TIMEOUT","displayName":"Operation Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CONNECTIONS_PER_BROKER":{"name":"CONNECTIONS_PER_BROKER","displayName":"Maximum connects per Pulsar broker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"LISTENER_THREADS":{"name":"LISTENER_THREADS","displayName":"Listener Threads","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"AUTHENTICATION_SERVICE":{"name":"AUTHENTICATION_SERVICE","displayName":"Pulsar Client Authentication Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"MAXIMUM_REJECTED_REQUESTS":{"name":"MAXIMUM_REJECTED_REQUESTS","displayName":"Maximum rejected requests per connection","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"PULSAR_SERVICE_URL":{"name":"PULSAR_SERVICE_URL","displayName":"Pulsar Service URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"IO_THREADS":{"name":"IO_THREADS","displayName":"I/O Threads","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ALLOW_TLS_INSECURE_CONNECTION":{"name":"ALLOW_TLS_INSECURE_CONNECTION","displayName":"Allow TLS Insecure Connection","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ENABLE_TLS_HOSTNAME_VERIFICATION":{"name":"ENABLE_TLS_HOSTNAME_VERIFICATION","displayName":"Enable TLS Hostname Verification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.pulsar.PulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-client-service-nar","version":"1.15.2"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"db03b23a-caed-46c5-add9-13e63ed19592","instanceIdentifier":null,"name":"DBCPConnectionPool Impala Iceberg","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"kerberos-password":null,"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.cloudera.impala.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:impala://oss-kudu-demo-gateway.oss-demo.qsm5-opic.cloudera.site:443/;ssl=1;transportMode=http;httpPath=oss-kudu-demo/cdp-proxy-api/impala;AuthMech=3;","dbcp-time-between-eviction-runs":"-1","Database User":"#{CDP Workload Username}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{Database Driver Location}","dbcp-max-idle-conns":"8","Password":"#{CDP Workload User Password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"cbcc31f2-a24e-49e1-9e50-b88aa20e45df","instanceIdentifier":null,"name":"CDP_Schema_Registry","comments":"test","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"ea237c03-5993-4e5e-9b4a-cc4a9caeb705","cache-size":"1000","basic-auth-password":null,"kerberos-principal":"tim","basic-auth-username":null,"url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"21eb05df-ead2-37c3-a32e-0cb7292161c4","instanceIdentifier":"e9ea086e-36b5-3d29-8dff-bf57c5c7b80f","name":"JSON_Reader_InferRoot","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","schema-application-strategy":"SELECTED_PART"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"176eb213-32be-36b2-9c9c-cea8448435e4","instanceIdentifier":"4e672ce2-82c9-39fe-872d-21f6e8fc1bab","name":"AvroReader_Recent_Changes","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"08cec987-02e3-47c9-88c1-c2b1024538d5","instanceIdentifier":null,"name":"Avro_Message_Writer","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"cbcc31f2-a24e-49e1-9e50-b88aa20e45df","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"},{"identifier":"c3f4149b-1061-40ad-b6c3-bc12e9d77052","instanceIdentifier":null,"name":"TravelJsonRecordSetWriter","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.1-1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.1-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"72d8870c-935f-33dc-965a-8529173db6fe"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"tim_traveladvisory","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":{"ea237c03-5993-4e5e-9b4a-cc4a9caeb705":{"identifier":"ea237c03-5993-4e5e-9b4a-cc4a9caeb705","name":"Default NiFi SSL Context Service"}},"parameterProviders":null,"parameterContexts":{"tim_traveladvisory":{"identifier":"60a37642-227e-45e6-9dbf-654d8db978fe","instanceIdentifier":null,"name":"tim_traveladvisory","comments":null,"position":null,"parameters":[{"name":"Schema Registry Hostname","description":null,"sensitive":false,"provided":false,"value":"oss-kafka-demo-master0.oss-demo.qsm5-opic.cloudera.site"},{"name":"Destination Topic Name","description":null,"sensitive":false,"provided":false,"value":"tim_traveladvisory"},{"name":"Schema Text","description":null,"sensitive":false,"provided":false,"value":"{\n  \"type\": \"record\",\n  \"name\": \"rssdublincore\",\n  \"namespace\": \"org.apache.nifi\",\n  \"fields\": [\n    {\n      \"name\": \"version\",\n      \"type\": [\n        \"float\",\n        \"null\"\n      ]\n    },\n    {\n      \"name\": \"channel\",\n      \"type\": [\n        {\n          \"type\": \"record\",\n          \"name\": \"channelType\",\n          \"fields\": [\n            {\n              \"name\": \"title\",\n              \"type\": [\n                \"string\",\n                \"null\"\n              ]\n            },\n            {\n              \"name\": \"link\",\n              \"type\": [\n                \"string\",\n                \"null\"\n              ]\n            },\n            {\n              \"name\": \"description\",\n              \"type\": [\n                \"string\",\n                \"null\"\n              ]\n            },\n            {\n              \"name\": \"item\",\n              \"type\": [\n                {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"record\",\n                    \"name\": \"channel_itemType\",\n                    \"fields\": [\n                      {\n                        \"name\": \"title\",\n                        \"type\": [\n                          \"string\",\n                          \"null\"\n                        ]\n                      },\n                      {\n                        \"name\": \"pubDate\",\n                        \"type\": [\n                          \"string\",\n                          \"null\"\n                        ]\n                      },\n                      {\n                        \"name\": \"link\",\n                        \"type\": [\n                          \"string\",\n                          \"null\"\n                        ]\n                      },\n                      {\n                        \"name\": \"guid\",\n                        \"type\": [\n                          \"string\",\n                          \"null\"\n                        ]\n                      },\n                      {\n                        \"name\": \"category\",\n                        \"type\": [\n                          {\n                            \"type\": \"array\",\n                            \"items\": {\n                              \"type\": \"record\",\n                              \"name\": \"channel_item_categoryType\",\n                              \"fields\": [\n                                {\n                                  \"name\": \"category\",\n                                  \"type\": [\n                                    \"string\",\n                                    \"null\"\n                                  ]\n                                },\n                                                    {\n                                  \"name\": \"domain\",\n                                  \"type\": [\n                                    \"string\",\n                                    \"null\"\n                                  ]\n                                }\n                              ]\n                            }\n                          },\n                          \"null\"\n                        ]\n                      },\n                      {\n                        \"name\": \"identifier\",\n                        \"type\": [\n                          \"string\",\n                          \"null\"\n                        ]\n                      },\n                      {\n                        \"name\": \"description\",\n                        \"type\": [\n                          \"string\",\n                          \"null\"\n                        ]\n                      }\n                    ]\n                  }\n                },\n                \"null\"\n              ]\n            }\n          ]\n        },\n        \"null\"\n      ]\n    }\n  ]\n}"},{"name":"Pulsar Topic Name","description":null,"sensitive":false,"provided":false,"value":"persistent://public/default/traveladvisory"},{"name":"Database Driver Location","description":"upload a jdbc driver","sensitive":false,"provided":false,"value":null},{"name":"WebhookText","description":null,"sensitive":false,"provided":false,"value":" ${title}\n\n${description}\n\n${link}\n\nPublication Date: ${pubdate}\nLast Modified: ${Last-Modified}\n${uuid} Slack Sent: ${now()}\n"},{"name":"Kerberos Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Schema Name","description":null,"sensitive":false,"provided":false,"value":"tim_traveladvisory"},{"name":"Schema2","description":null,"sensitive":false,"provided":false,"value":"oss-kafka-datagen-master0.oss-demo.qsm5-opic.cloudera.site"},{"name":"CDP Workload User Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Kafka Producer ID","description":null,"sensitive":false,"provided":false,"value":"tim_travel_id"},{"name":"CDP Workload Username","description":null,"sensitive":false,"provided":false,"value":"tim"},{"name":"Webhook URL","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Kafka Brokers","description":null,"sensitive":false,"provided":false,"value":"oss-kafka-demo-corebroker2.oss-demo.qsm5-opic.cloudera.site:9093,\noss-kafka-demo-corebroker1.oss-demo.qsm5-opic.cloudera.site:9093,\noss-kafka-demo-corebroker0.oss-demo.qsm5-opic.cloudera.site:9093"},{"name":"HTTP URL","description":null,"sensitive":false,"provided":false,"value":"https://travel.state.gov/_res/rss/TAsTWs.xml"}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}